@import "mixins.scss";

* {
  font-family: "Raleway", sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
  &:focus {
    outline: 0;
  }
}

body {
  @include flex-column-center;
  background-color: black;
  height: 100vh;
  width: 100vw;

  #modal {
    display: none;
  }
}

h1 {
  font-size: 60px;
}

#snake-container {
  border: solid 10px white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 30px;
  width: 800px;
}

button {
  font-size: 48px;
  padding: 25px;
  margin: 10px;
  font-weight: 600;
  color: black;
  background-color: rgb(103, 235, 103);
  border-radius: 30px;

  &:hover {
    background-color: rgb(50, 238, 50);
  }
}

#game-panel {
  @include flex-column-center;
  flex-direction: row;

  #score-panel {
    @include flex-column-center;
    flex-direction: row;
    border: solid 2px white;
    padding: 25px;
    margin: 10px;
    border-radius: 30px;
    font-size: 32px;

    #output {
      font-size: 48px;
      color: rgb(103, 235, 103);
    }
  }
}

@media only screen and (max-width: 900px) {
  body {
    h1,
    #snake-container,
    button,
    #game-panel #score-panel {
      display: none;
    }

    #modal {
      @include flex-column-center;
      z-index: 10;
      font-size: 24px;
      position: absolute;
      top: 25%;
      left: 5%;
      height: 50%;
      width: 90%;
      opacity: 0.8;
      padding: 0 10%;
      text-align: center;
      border-radius: 15px;

      h2 {
        margin-bottom: 10px;
      }
    }
  }
}
