* {
  font-family: "Raleway", sans-serif;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: whitesmoke;
}

*:focus {
  outline: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

body #modal {
  display: none;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
}

#snake-container {
  border: solid 10px brown;
  background-color: whitesmoke;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 88, 88, 0.2)), to(rgba(63, 62, 62, 0.2))), url(./background.jpg);
  background: linear-gradient(rgba(90, 88, 88, 0.2), rgba(63, 62, 62, 0.2)), url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 30px;
  width: 800px;
}

button {
  font-size: 48px;
  padding: 25px;
  margin: 10px;
  font-weight: 600;
  color: black;
  background-color: #67eb67;
  border-radius: 30px;
}

button:hover {
  background-color: rgba(103, 235, 103, 0.644);
}

#game-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

#game-panel #score-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  border: solid 2px white;
  padding: 25px;
  margin: 10px;
  border-radius: 30px;
  font-size: 32px;
}

#game-panel #score-panel #output {
  font-size: 48px;
  color: #67eb67;
}

@media only screen and (max-width: 900px) {
  body h1,
  body #snake-container,
  body button,
  body #game-panel #score-panel {
    display: none;
  }
  body #modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    font-size: 24px;
    position: absolute;
    top: 25%;
    left: 5%;
    height: 50%;
    width: 90%;
    opacity: 0.8;
    padding: 0 10%;
    text-align: center;
    border-radius: 15px;
  }
  body #modal h2 {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=snake.css.map */